<h1>Please enter a sentence to play leetspeak!</h1>
<form action='/leetspeak' method='get'>
  <div class="form-group">
    <label for="words">A name</label>
    <input id="words" name="words" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Translate!</button>
</form>
